@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./style/cabecalho.css);
@import url(./style/consulta-remota.css);
@import url(./style/consulta-local.css);
@import url(./style/rodape.css);

:root {
    --font-Montserrat- : "Montserrat", sans-serif;
    --cinza-escuro-titulos- : #464646;
    --conza-claro-textos- : #A3A3A3;
    --branco-background- : #FFFFFF;
    --cor-background-body- : #f2f8ff;
    --laranja-botao- : #FFB050;
    --azul-botao- : #4894FF;
}

body {
    background-color: var(--cor-background-body-);
    font-family: var(--font-Montserrat-);
}

.agenda__dia-seguinte {
    margin: 3em 0;
}

@media (min-width: 1024px) {
    .agenda-hoje, .agenda__dia-seguinte, .agenda__quarta-feira {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 32px;
    }
}