.conteudo-principal__titulo {
    font-size: 1.2em;
    font-weight: 700;
    color: var(--cinza-escuro-titulos-);
    margin: 0.5em 1em;
}

.container-consulta-remota {
    width: 90%;
    background-color: var(--branco-background-);
    margin: 1em auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.consulta-remota__pt1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    padding: 1em;
    border-bottom: 1px solid var(--conza-claro-textos-);
}

.container__pt1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.consulta-remota__icone-paciente {
    width: 32px;
    height: 32px;
}

.consulta-remota__pt1-texto {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.consulta-remota__titulo {
    font-size: 1em;
    color: var(--cinza-escuro-titulos-);
    font-weight: 700;
}

.consulta-remota__icone-camera {
    width: 16px;
    height: 16px;
}

.consulta-remota__subtitulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    color: var(--conza-claro-textos-);
    font-weight: 400;
    font-size: 0.8em;
}

.consulta-remota__icone-chat {
    width: 32px;
    height: 32px;
}

.consulta-remota__pt2 {
    padding: 1em;
}

.consulta-remota__pt2-texto {
    color: var(--cinza-escuro-titulos-);
    font-weight: 500;
    font-size: 0.9em;
}

.consulta-remota__pt3 {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.consulta-remota__botao {
    padding: 1.2em 1.5em;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-family: var(--font-Montserrat-);
}

#botao-video {
    background-color: var(--laranja-botao-);
    color: var(--branco-background-);
}