.rodape {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: end;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.botao-flutuante {
    background-color: var(--azul-botao-);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    text-align: center;
    padding: auto;
    color: var(--branco-background-);
    font-size: 2em;
    font-weight: 200;
    margin: 0.3em;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}

.input-botao-flutuante {
    display: none;
}

.menu-rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 0;
    background-color: #FFFFFF;
    border-radius: 25px; 
    width: 100%;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

.menu-rodape__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.menu-rodape__titulo-icone {
    font-size: 0.9em;
    font-weight: 400;
}

#titulo-consultas {
    color: var(--azul-botao-);
}